.x-table-search {
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  
  .search-form {
    padding: 10px 10px 0 10px;
    
    .search-row {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    
    .action-col {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 10px;
      
      .expand-icon {
        margin-right: 10px;
        cursor: pointer;
        color: #666;
      }
    }
  }
  
  .ant-btn {
    padding: 4px 10px;
  }
  
  .ant-btn-default {
    color: #666;
  }
  
  :deep(.ant-form-item) {
    margin-bottom: 10px;
  }
}
